.form.form_change_password {
  height: auto;
  margin-left: 40%;
  margin-top: 20px;
  margin-bottom: 20px;
  position: inherit;
}
.icon_style {
  font-size: 100px;
  color: #40a9ff;
}
.icon_input {
  font-size: 13px;
}
