.infinite-container {
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  overflow: auto;
  margin-top: 3%;
  height: 500px;
}
.loading-container {
  position: absolute;
  bottom: 40px;
  width: 100%;
  text-align: center;
}
.title-contact {
  text-align: center;
  padding: 1.5% 0 1.5% 0;
  font-weight: bold;
}
.ant-list-item-meta-title {
  font-size: 16px;
  font-weight: bold;
}
.ant-list-item-meta-avatar {
  margin-left: 15px;
}
.ant-avatar.ant-avatar-circle.ant-avatar-image {
  width: 45px;
  height: 45px;
}
.ant-checkbox-group {
  width: 100%;
}
.item-checkbox.ant-checkbox-wrapper {
  padding: 2%;
  width: 10%;
}
.contact-check-all {
  margin-top: 5%;
  padding-left: 2%;
}
.btn-all-accept {
  margin-left: 25%;
}
.ant-btn.load-more-contact {
  text-align: center;
  margin-left: 50%;
}
.demo-loading-container {
  margin-left: 50%;
}
.ant-btn-group.btn-all-accept {
  float: right;
  margin-right: 3%;
}
.ant-btn-group {
  margin-right: 10px;
}
.contact-search {
  .ant-input-affix-wrapper {
    width: 90%;
  }
  .ant-btn-circle {
    margin-left: 10px;
  }
}
.search-by-name {
  .ant-avatar {
    height: 50px;
    width: 50px;
  }
  .infinite-container {
    border: none;
  }
  .ant-list-split .ant-list-item {
    border: 1px solid #e8e8e8;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  #user_add_contact {
    margin-right: 10px;
  }
}
.title-contact-detail {
  text-align: center;
  padding-bottom: 9px;
  font-weight: bold;
}
.contact-detail {
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  overflow: auto;
  margin-top: 15px;
  height: 500px;
}
.contact-detail-avatar {
  text-align: center;
  padding-top: 10px;
}
.form-group {
  padding: 5px 15px 5px 15px;
}
.title-contact-empty {
  text-align: center;
  padding-top: 10px;
  font-weight: bold;
}
#list-contact-item {
  width: 290px;
}

#list-contacts {
  li.ant-list-item {
    > a {
      width: 66%;
    }
    .ant-btn-group .ant-btn {
      font-size: 13px;
      padding: 0 5px 0px 5px;
    }
  }
}

.ant-modal-content .ant-input-search {
  .ant-input-lg,
  .ant-input-search-button {
    font-size: 13px;
  }
}

.infinite-container-nickname {
  height: 300px;
  overflow: auto;
}
