.list-message {
  padding: 24px;
  background: #fff;
  height: 78vh;
  overflow-y: auto;
  overflow-x: hidden;
}

@media screen and (min-width: 1500px) {
  .list-message {
    padding: 24px;
    background: #fff;
    overflow-y: auto;
    overflow-x: hidden;
    height: 68vh;
  }
}

@media screen and (min-width: 1800px) {
  .list-message {
    padding: 24px;
    background: #fff;
    overflow-y: auto;
    overflow-x: hidden;
    height: 73vh;
  }
}
