.header-icon {
  margin: 0 15px;
  i {
    font-size: 20px;
  }
}

body {
  overflow: hidden;
}

.ant-layout-sider {
  flex: 0 0 300px !important;
  width: 100%;
}

.ant-menu-dark {
  li.ant-list-item {
    margin: 0 0 15px 15px;

    .avatar-name {
      float: left;
      min-width: 80%;
      width: 80%;
      max-width: 81%;

      .nav-text {
        line-height: 12px;
        display: block;
        color: white;
        font-size: 12px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 15px 0 0 0;
      }
    }

    .state-room {
      min-width: 30px;
      max-width: 50px;
      float: left;
    }

    .ant-typography {
      height: 25px;
      margin: 5px 0 0 0;
      padding: 12px 2px;

      mark {
        background-color: #6b54b2;
        border-radius: 5px;
        font-size: 12px;
        color: white;
        width: 20px;
        padding: 3px !important;
      }
    }

    .anticon {
      margin: 10px 3px 0 0;
    }
  }
}

li[role='menuitem'].ant-dropdown-menu-item {
  margin: 0;
  &:hover {
    background-color: white;
  }
  a:hover {
    background-color: #e6f7ff;
  }
}

.ant-dropdown-menu {
  padding: 0;
}

section.ant-layout {
  margin-left: 0 !important;

  main.ant-layout-content {
    border: 1px solid #bdb5b5;
    border-radius: 4px;
  }
}

.ant-layout-header > .ant-row-flex-middle > div:first-child {
  margin-right: 50px;

  .ant-list-split {
    z-index: 10;
    position: fixed;
    width: 20pc;
    padding: 0;
    background-color: #cbd9e8;
    ul.ant-list-items {
      max-height: 400px;
      overflow: auto;

      span {
        width: 30px;
        height: 30px;
        color: #d11b4f;
      }
    }
  }
}
.ant-layout-header  .ant-avatar-circle {
  width: 45px;
  height: 45px;
}

.ant-menu-dark li.ant-list-item {
  margin: 0;
  padding-left: 15px;
  &:hover {
    background-color: #364c5f;
  }
  a {
    width: 100%;
  }
  &.item-active {
    background-color: #0a3661;
  }
  .ant-btn.pin {
    padding: 0;
    height: 35px;
    border: none;
    background: none;
    color: #485366;
    float: right;
    margin-right: 1px;
    &:hover,
    &.pinned {
      background: none;
      color: #00ff2f;
    }
    &:focus,
    &:active {
      background: none;
    }
    .anticon {
      margin: 0;
      font-size: 15px;
    }
  }
  .ant-typography {
    float: left;
    mark {
      vertical-align: inherit;
    }
  }
}
.avatar-name .ant-avatar {
  float: left;
  width: 35px;
  height: 35px;
}

.ant-badge-multiple-words {
  padding: 0px 5px;
}

.ant-badge-count {
  font-size: 11px;
}
.sidebar-infinite-container {
  overflow: auto;
  height: 890px;
}


::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background: transparent;
  overflow: visible;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.15);
  border: 1px solid rgba(0, 0, 0, 0);
}

.side-bar {
  height: -webkit-fill-available;
  border-right: 5px groove !important;
  ::-webkit-scrollbar-thumb {
    background-color: #4e4d4d;
    border: 1px solid rgba(0, 0, 0, 0);
  }
  .ant-avatar-circle {
    width: 45px;
    height: 45px;
  }
}
