.header-icon {
  margin: 0 15px;
  i {
    font-size: 20px;
  }
}

body {
  overflow: hidden;
}

.ant-layout-sider {
  flex: 0 0 300px !important;
  max-width: 300px !important;
  min-width: 270px !important;
  width: 300px !important;
}

.ant-menu-dark {
  li.ant-list-item {
    margin: 0 0 15px 15px;

    .avatar-name {
      float: left;
      min-width: 212px;

      .nav-text {
        color: white;
        font-size: 12px;
        white-space: nowrap;
        width: 212px;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .ant-typography {
      height: 25px;
      margin: 5px 0 0 0;
      padding: 12px 10px;
      float: right;

      mark {
        background-color: #6b54b2;
        border-radius: 5px;
        font-size: 12px;
        color: white;
        width: 20px;
        padding: 3px !important;
      }
    }

    .anticon {
      margin: 10px 3px 0 0;
      float: right;
    }
  }
}

li[role='menuitem'].ant-dropdown-menu-item {
  margin: 0;
  &:hover {
    background-color: white;
  }
  a:hover {
    background-color: #e6f7ff;
  }
}

.ant-dropdown-menu {
  padding: 0;
}

section.ant-layout {
  margin-left: 0 !important;

  main.ant-layout-content {
    border: 1px solid #e5e5e5;
    border-radius: 4px;
  }
}

.ant-layout-header > .ant-row-flex-middle > div:first-child {
  margin-right: 50px;

  .ant-list-split {
    z-index: 10;
    position: fixed;
    width: 20pc;
    padding: 0;
    background-color: #cbd9e8;
    ul.ant-list-items {
      max-height: 400px;
      overflow: auto;

      span {
        width: 30px;
        height: 30px;
        color: #d11b4f;
      }
    }
  }
}

.ant-menu-dark li.ant-list-item {
  margin: 0;
  padding-left: 15px;
  &:hover {
    background-color: #364c5f;
  }
  a {
    width: 100%;
  }
  &.item-active {
    background-color: #0a3661;
  }
  .ant-btn.pin {
    padding: 0;
    height: 35px;
    border: none;
    background: none;
    color: #133b63;
    float: right;
    &:hover,
    &.pinned {
      background: none;
      color: #40a9ff;
    }
    &:focus,
    &:active {
      background: none;
    }
    .anticon {
      margin: 0;
      font-size: 15px;
    }
  }
  .ant-typography {
    float: left;
    mark {
      vertical-align: inherit;
    }
  }
}
.avatar-name .ant-avatar {
  width: 35px;
  height: 35px;
}

.ant-badge-multiple-words {
  padding: 0px 5px;
}

.ant-badge-count {
  font-size: 11px;
}
.sidebar-infinite-container {
  overflow: auto;
  height: 1000px;
}
