.timelineMessage__message {
  font-size: 14px;
  overflow: hidden;
  
  .messageBadge {
    vertical-align: middle !important;
    display: inline-flex;
    margin: 2px 2px 0 0;
    vertical-align: top;
  }

  .chatTimeLineTo {
    display: flex;

    span {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;
      height: 18px;
      background-color: #66a300;
      border-radius: 2px 0 0 2px;
      padding: 2px 4px;
      font-weight: 700;
      color: #fff;
      cursor: pointer;
    }

    img {
      box-sizing: border-box;
      width: 18px;
      height: 18px;
      margin: 0;
      border: 1px solid #66a300;
      border-radius: 0 2px 2px 0;
      cursor: pointer;
    }
  }

}

.chatCode {
  box-sizing: border-box;
  display: block;
  padding: 10px 15px;
  margin: 10px 0;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 3px;
  background-color: #2f2f2f; //#f5f5f3
  overflow-x: auto;
  font-weight: 400;
  white-space: pre;
  word-wrap: normal;
}

.member-infinite-container {
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  overflow: auto;
  padding-bottom: 8px;
  height: 250px;
  width: 230px;
}

.timelineMessage--mention {
  border-top: 1px solid #ddebd7;
  border-bottom: 1px solid #c5c8c3;
  background-color: #ddebd7;
}

.messageBadge__toAllBadge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  height: 18px;
  background-color: #66a300;
  width: 65px;
  padding: 2px 4px;
  border-radius: 2px;

  span {
    font-weight: 700;
    color: #fff;
  }
}

.to-all {
  padding: 2px 0 5px 0;
  margin: 0 auto;
  text-align: center;
  border-bottom: 1px solid #e8e8e8;
  background-color: #66a300;
  width: 100%;
  display: inline-table;

  span {
    font-weight: 700;
    color: #fff;
  }
}

.wrap-message:hover {
  border: 1px solid #b7e0f6;
}

.info-block {
  border: 1px solid #b3b3b3;
  border-radius: 3px;
  padding: 4px 8px;
}

.title-block {
  display: flex;
  align-items: center;
  margin: -4px -8px 4px;
  padding: 4px 8px;
  background: #f2f2f2;
  border-bottom: 1px solid #cccccc;
  border-radius: 2px 2px 0 0;
}

.chatQuote_icon {
  height: 30px;
  width: 20px;
  font-size: 45px;
  margin-top: -10px;
}

.chatQuote {
  margin-top: -20px;
  margin-left: 25px;
  position: relative;

  &:after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 1px;
    height: 100%;
    background: #aab4c3;
    left: -18px;
    top: 25px;
  }
}

.chatQuote__title {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: flex;
  align-items: center;
  max-width: calc(100% - 24px);
  height: 24px;
  color: #999999;
  font-size: 11px;

  .piconname {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-flex;
    align-items: center;
    padding-right: 10px;

    ._avatar {
      box-sizing: border-box;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      flex-shrink: 0;
      cursor: pointer;
    }
  }
}

.url_msg:hover {
  border-bottom: 1px solid #dedede;
}

.joinLiveButton {
  box-sizing: border-box;
  display: inline-flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
  padding: 0 12px;
  min-width: 26px;
  min-height: 26px;
  line-height: 26px;
  font-size: 13px;
  border-color: #006a9c;
  background-color: #006a9c;
  color: #fff;
  fill: #fff;
  margin: 8px 0;
  white-space: normal;
  word-wrap: normal;

  .joinLiveButton__iconContainer {
    display: inline-flex;
    width: 20px;
    height: 20px;

    .joinLiveButton__icon {
      width: 18px;
      height: 18px;
      margin-top: -1px;
    }
  }

  .joinLiveButton__label {
    margin-left: 5px;
    margin-top: 2px;
  }
}

.joinLiveButton--disabled {
  border-color: #cccccc;
  background-color: #d4d4d4;
  color: #8e8282;
  fill: #cccccc;
  cursor: default;
}


img.image-emoji {
  width: 20px;
  height: 20px;
  margin: 0 3px 3px 3px;
}

.profileTooltip {
  border-radius: 5px;
  display: none;
  position: absolute;
  padding: 2px;
  z-index: 5000;
  width: 355px;
  height: 227px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  background: #fff;
  border: 1px solid #b3b3b3;

  .tooltipTriangle {
    display: block;
    position: absolute;
    left: 165px;
    width: 0;
    height: 0;
    content: '';
    border-style: solid;
    pointer-events: none;
  }
}

.optionChangeMessage {
  background-color: white;
  font-family: cursive;
  button {
    padding: 0 5px 0 10px;
  }
  .anticon-edit {
    color: #bd5f5f;
  }
  .anticon-rollback {
    color: #3f00f2;
  }
  .anticon-delete {
    color: black;
  }
}

.reactionUserListTollTip {
  width: 230px;
  height: 290px;

  .ant-tabs-nav {
    .ant-tabs-tab {
      margin: 0 10px 5px 0 !important;
      padding: 0 !important;
    }
  }
}

.set-nickname {
  text-align: center;
  padding: 10px 0;
  background: #e6e6e6;
}

.quoteContent {
  margin-bottom: -25px;
}

.chatQuote:after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 1px;
  height: 100%;
  background: #aab4c3;
  left: -18px;
}

.chatQuote {
  height: 95%;
  margin-bottom: 8px;
}

#originMsgTooltip {
  height: auto;
  width: 500px;
}

.empty-reply-msg {
  padding: 5px;
  text-align: center;
}

.wrap-reply-msg {
  padding-left: 10px  
}
