.description-chat.ant-layout-sider {
  color: #fff;
  float: right;
  background-color: #e6e6e6;
}
.icon-request-list {
  margin-top: -10px;
  margin-right: 20px;
}
.modal-add-member {
  margin-top: -5px;
  margin-left: 10px;
}
.icon-setting-room {
  color: black;
  font-size: 18px;
  float: left;
  padding-right: 4px;
  margin-top: 6px;
}
.menu-room-config {
  button {
    display: block;
    text-align: center;
    border: none;
  }
}
.chat-room {
  background-color: white;
  margin: '24px 16px 0';
  overflow: 'initial';
}

.invatation {
  padding-top: 25px;
}

.btn-join-room {
  padding-top: 15px;
  margin-bottom: 80%;
}
head .delete-member {
  padding: 0;
  border: none;
  &:hover {
    color: red;
  }
  i {
    padding: 10px;
  }
}
.members-content .ant-list-item.ant-list-item-no-flex {
  display: flex;
  margin-right: 34px;
}
.header-chat-room {
  background-color: #fff;
  height: 40px;
  border: none;
  padding: 0px;
  > div {
    height: 100%;
  }
}
.ant-avatar.avatar-room-chat {
  margin-left: 10px;
  float: left;
  margin-top: 5px;
}
.name-chat-room {
  float: left;
  margin-left: 10px;
  margin-top: -10px;
}
.list-member-chat-room {
  display: flex;
}
.adding-member-icon {
  float: right;
  margin: 10px 0 0 5px;
}
.title-desc-chat-room {
  display: flex;
  padding: 4px 8px;
  margin-bottom: 8px;
  color: black;
  height: 30px;
}
.content-desc-chat-room {
  padding-left: 10px;
  padding-right: 10px;
}

.content-desc-chat-room {
  color: #000;
}

.invitation-btn {
  position: relative;
  top: 20px;
}

.copy-btn {
  margin-top: 10px;
}

.box-button {
  border-style: ridge;
  padding: 5px 5px 10px 5px;
}

.list-message > .ant-list-item {
  padding: 6px 0px;
}

.message-time {
  padding-top: 10px;
}

.list-message .ant-list-item-meta-title {
  font-size: 15px;
}

.list-message .ant-list-item-meta-avatar {
  margin-right: 0px;
}

.list-message .ant-avatar {
  width: 40px !important;
  height: 40px !important;
}

.list-message .ant-list-item-meta-description {
  margin-top: -10px;
}

#no-contact {
  margin: 75px 0 10px 43%;
  font-weight: bold;
  font-size: 17px;
}

.timeLine__unreadLineContainer {
  position: absolute;
  top: -9px;
  width: 100%;
  text-align: center;
}

.timeLine__unreadLineBody {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 19px;
  line-height: 19px;
  padding: 0 8px;
  background-color: #fff;
}

.timeLine__unreadLineText {
  font-size: 11px;
  font-weight: bold;
  color: #eb0800;
}

.timeLine__unreadLine {
  padding: 8px 0;
}

.timeLine__unreadLineBorder {
  position: relative;
  margin: 9px 0;
  height: 1px;
  background-color: #eb0800;
}

.message-item {
  border-top-style: solid;
  border-width: 0.2px;
  &:hover {
    background-color: #dcdcdc;
  }
}

.isEditing {
  background-color: #b3daff;
}

.hide {
  display: none;
}

.infor-bg {
  background-color: #2290ff;
  height: 110px;
  width: 350px;
  padding: 10px;
}

.infor-avatar {
  height: 60px;
  width: 60px;
}

.ant-popover-placement-bottom > .ant-popover-content > .ant-popover-arrow,
.ant-popover-placement-bottomLeft > .ant-popover-content > .ant-popover-arrow,
.ant-popover-placement-bottomRight > .ant-popover-content > .ant-popover-arrow {
  top: 0;
}
.ant-popover-placement-bottom,
.ant-popover-placement-bottomLeft,
.ant-popover-placement-bottomRight {
  padding-top: 3px;
}

.ant-popover-inner-content {
  padding: 5px;
}

.infor-name {
  color: #00356b;
  font-weight: bold;
  padding: 10px 0 0;
  font-size: 16px;
  margin: 0;
}

.show-infor {
  .ant-avatar,
  h4 {
    cursor: pointer;
  }
}

.infor-footer {
  text-align: center;
  background-color: #e6e6e6;
}

.popover-infor .ant-list-item {
  display: inline-block;
  padding: 5px 0;
}

.ant-list-item-meta-avatar {
  margin-left: 0;
}

.infor-content {
  margin-left: 45px;
}

.ant-list-item.li-message {
  padding: 12px 0 0;
}

.wrap-message {
  border: 1px solid #fff;
}

.message-time h4 {
  font-size: 12px;
}

.message-item {
  border-top-style: solid;
  border-width: 0.2px;
  &:hover {
    background-color: #dcdcdc;
  }
}

.isEditing {
  background-color: #b3daff;
}

.msg-notification {
  padding: 5px;
  background-color: #f1f1f1;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  font-family: sans-serif !important;
}

.timelineMessage__message {
  margin-top: -16px;
}

.list-message .ant-row {
  border-bottom: 1px solid rgba(24, 24, 24, 0.2);
}

.pre-notification {
  margin-right: -10%;
}
.loading-room {
  margin-left: 50%;
}
.edit-desc {
  float: right;
  svg {
    color: #08a0a0
  }
}
.btn-group-edit-desc-of-room {
  padding: 20px 0 0 150px;
}
