.sidebar-chat.ant-layout-sider {
  color: #fff;

  float: right;
  background-color: #e6e6e6;
  min-width: 406px !important;
}
.icon-setting-room {
  color: black;
  font-size: 17px;
  float: right;
  padding-top: 10px;
  padding-right: 10px;
}
.chat-room {
  background-color: white;
  margin: '24px 16px 0';
  overflow: 'initial';
}
.ant-dropdown-menu.menu-detail-room {
  background-color: white;
  margin-top: 0px;
  margin-left: -92px;
  min-width: 0;
}
.ant-dropdown-menu.menu-detail-room > li {
  background-color: white;
}
.ant-dropdown-menu-item.item-setting > button {
  display: block;
  text-align: center;
  border: none;
}

.invatation {
  padding-top: 25px;
}

.btn-join-room {
  padding-top: 15px;
  margin-bottom: 80%;
}
head .delete-member {
  padding: 0;
  border: none;
  &:hover {
    color: red;
  }
  i {
    padding: 10px;
  }
}
.members-content .ant-list-item.ant-list-item-no-flex {
  display: flex;
  margin-right: 34px;
}
.header-chat-room {
  background-color: #fff;
  height: 40px;
  border: none;
  padding: 0px;
}
.ant-avatar.avatar-room-chat {
  margin-left: 10px;
  float: left;
  margin-top: 5px;
}
.name-chat-room {
  float: left;
  margin-left: 10px;
  margin-top: -10px;
}
.list-member-chat-room {
  float: right;
  margin-top: 5px;
}
.title-desc-chat-room {
  display: flex;
  padding: 4px 8px;
  margin-bottom: 8px;
  color: black;
  height: 30px;
}
.content-desc-chat-room {
  padding-left: 10px;
  padding-right: 10px;
}
.content-desc-chat-room {
  color: #000;
}
