.description-chat.ant-layout-sider {
  color: #fff;
  float: right;
  background-color: #f3f3f2;
}
.icon-request-list {
  margin-top: -10px;
  margin-right: 20px;
}
.modal-add-member {
  margin-top: -5px;
  margin-left: 10px;
}
.icon-setting-room {
  color: black;
  font-size: 18px;
  float: left;
  padding-right: 4px;
  margin-top: 6px;
}
.menu-room-config {
  button {
    display: block;
    text-align: center;
    border: none;
  }
}
.chat-room {
  background-color: white;
  margin: '24px 16px 0';
  overflow: 'initial';
}

.invatation {
  padding-top: 25px;
}

.btn-join-room {
  padding-top: 15px;
  margin-bottom: 80%;
}
head .delete-member {
  padding: 0;
  border: none;
  &:hover {
    color: red;
  }
  i {
    padding: 10px;
  }
}
.members-content .ant-list-item.ant-list-item-no-flex {
  display: flex;
  margin-right: 34px;
}
.header-chat-room {
  background-color: #fff;
  height: 40px;
  border: none;
  padding: 0px;
  > div {
    height: 100%;
  }
}
.ant-avatar.avatar-room-chat {
  margin-left: 10px;
  float: left;
  margin-top: 5px;
}
.name-chat-room {
  float: left;
  margin-left: 10px;
  margin-top: -10px;
}
.list-member-chat-room {
  display: flex;
}
.adding-member-icon {
  float: right;
  margin: 10px 0 0 5px;
}

.ant-layout-sider-children {
  height: 89vh;
  overflow: scroll;
}

.title-desc-chat-room,
.content-task-chat-room {
  display: flex;
  padding: 8px 10px;
  color: black;
  font-size: 13px;
  background-color: #e6e6e6;
}

.content-task-chat-room {
  padding: 0;
  background-color: #fff;
  div:nth-child(2) {
    text-align: left;
  }
  .ant-progress-line {
    width: 88%;
  }
}

.content-task-icon {
  div:nth-child(2) {
    text-align: right;
  }
}

.assignee-info {
  max-height: 107px;
  overflow: scroll;
}

.content-desc-chat-room {
  background: #f2f3f2;
  padding: 10px;
  color: #1a1a1a;
  font-size: 13px;
}

.invitation-btn {
  position: relative;
}

.no-description {
  color: #999999;
}

.chat-task {
  margin-top: 30px;
  .content-task {
    background-color: #fff;
    border-radius: 5px;
    margin: 10px 0;
    padding: 10px;
    color: #1a1a1a;
    font-size: 13px;
    border: 1px solid #e2e2e2;
    hr {
      border-top: 1px dashed #e6e6e6;
      border-bottom: none;
    }
    &:hover {
      border: 1px solid #2290ff;
    }
  }
  .ant-avatar,
  .ant-avatar.ant-avatar-circle.ant-avatar-image {
    width: 16px;
    height: 16px;
    margin: 1px 10px 1px 0;
  }
  .task-assign strong {
    color: #b70000;
  }
  .task-icon {
    a {
      margin-left: 5px;
      padding: 4px;
      text-align: center;
      border-radius: 3px;
      color: #1a1a1a;
    }
    a:hover {
      background: #cbd9e8;
    }
  }
  .box-add-task {
    width: 100%;
    color: #004d9a;
    font-weight: bold;
    padding: 10px;
    height: 40px;
    i {
      font-size: 16px;
    }
    div {
      &:nth-child(1) {
        text-align: left;
      }
      &:nth-child(2) {
        text-align: right;
      }
    }
  }
  .task-done {
    text-align: right;
    margin-top: 5px;
    button {
      height: 26px;
    }
  }
  .ant-progress-outer {
    width: 83%;
  }
  .ant-progress-status-normal {
    .ant-progress-text {
      color: #fa8700;
    }
  }
  .ant-progress-status-active {
    .ant-progress-text {
      color: #1890ff;
    }
  }
  .ant-progress-text {
    font-weight: bold;
    font-size: 10px;
    width: 7em;
  }
  .ant-tooltip-inner {
    padding: 5px;
    min-width: 26px;
    min-height: 26px;
  }
  .ant-tabs-nav .ant-tabs-tab {
    padding: 10px;
  }
  .ant-tabs-nav-wrap {
    background-color: #e6e6e6;
  }
}

.copy-btn {
  margin-top: 10px;
}

.box-button {
  border-style: ridge;
  padding: 5px 5px 10px 5px;
}

.list-message > .ant-list-item {
  padding: 6px 0px;
}

.message-time {
  padding-top: 10px;
}

.list-message .ant-list-item-meta-title {
  font-size: 15px;
}

.list-message .ant-list-item-meta-avatar {
  margin-right: 0px;
}

.list-message .ant-avatar {
  width: 40px !important;
  height: 40px !important;
}

.list-message .ant-list-item-meta-description {
  margin-top: -10px;
}

#no-contact {
  margin: 75px 0 10px 43%;
  font-weight: bold;
  font-size: 17px;
}

.timeLine__unreadLineContainer {
  position: absolute;
  top: -9px;
  width: 100%;
  text-align: center;
}

.timeLine__unreadLineBody {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 19px;
  line-height: 19px;
  padding: 0 8px;
  background-color: #fff;
}

.timeLine__unreadLineText {
  font-size: 11px;
  font-weight: bold;
  color: #eb0800;
}

.timeLine__unreadLine {
  padding: 8px 0;
}

.timeLine__unreadLineBorder {
  position: relative;
  margin: 9px 0;
  height: 1px;
  background-color: #eb0800;
}

.message-item {
  border-top-style: solid;
  border-width: 0.2px;
  &:hover {
    background-color: #dcdcdc;
  }
}

.isEditing {
  background-color: #b3daff;
}

.hide {
  display: none;
}

.infor-bg {
  background-color: #2290ff;
  height: 110px;
  width: 350px;
  padding: 10px;
}

.infor-avatar {
  height: 60px;
  width: 60px;
}

.ant-popover-placement-bottom > .ant-popover-content > .ant-popover-arrow,
.ant-popover-placement-bottomLeft > .ant-popover-content > .ant-popover-arrow,
.ant-popover-placement-bottomRight > .ant-popover-content > .ant-popover-arrow {
  top: 0;
}
.ant-popover-placement-bottom,
.ant-popover-placement-bottomLeft,
.ant-popover-placement-bottomRight {
  padding-top: 3px;
}

.ant-popover-inner-content {
  padding: 5px;
}

.infor-name {
  color: #00356b;
  font-weight: bold;
  padding: 10px 0 0;
  font-size: 16px;
  margin: 0;
}

.show-infor {
  .ant-avatar,
  h4 {
    cursor: pointer;
  }
}

.infor-footer {
  text-align: center;
  background-color: #e6e6e6;
}

.popover-infor .ant-list-item {
  display: inline-block;
  padding: 5px 0;
}

.ant-list-item-meta-avatar {
  margin-left: 0;
}

.infor-content {
  margin-left: 45px;
}

.ant-list-item.li-message {
  padding: 12px 0 0;
}

.wrap-message {
  border: 1px solid #fff;
}

.message-time h4 {
  font-size: 12px;
}

.message-item {
  border-top-style: solid;
  border-width: 0.2px;
  &:hover {
    background-color: #dcdcdc;
  }
}

.isEditing {
  background-color: #b3daff;
}

.msg-notification {
  padding: 5px;
  background-color: #f1f1f1;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  font-family: sans-serif !important;
}

.timelineMessage__message {
  margin-top: -16px;
}

.list-message .ant-row {
  border-bottom: 1px solid rgba(24, 24, 24, 0.2);
}

.pre-notification {
  margin-right: -10%;
}
.loading-room {
  margin-left: 50%;
}
.edit-desc {
  float: right;
  svg {
    color: #08a0a0;
  }
}
.btn-group-edit-desc-of-room {
  padding: 20px 0 0 150px;
}

.option-header-room {
  padding-top: 5px;
}

.button-group-choose-type-call {
  margin-top: 3%;
  margin-left: 4%;
}
.button-group-choose-type-call button {
  border-radius: 0;
  width: 30%;
  margin-right: 2%;
  padding: 0px !important;
  text-align: center;
}
.title-call {
  text-align: center;
}
.input-search-member-to-call {
  margin-top: 3%;
  margin-bottom: 3%;
}
.group-call-member-list-box {
  border: 1px solid #b3b3b3;
  margin-top: 3%;
}
.group-call-member-list-box-title {
  margin: 2% 2% 0;
}
.create-task-btn {
  margin-top: 50px;
  width: 100%;
}
.btn-join-call {
  margin-left: 35%;
  width: 30%;
}

.create-task-modal {
  margin-top: 20px;
}
