.btn-my-edit {
  padding: 0 2px;
  height: 21px;
  font-size: 12px;
  border: none;
}

.select-status {
  margin-top: 5px;
}

.ant-popover-title {
  background-color: #011529;
  color: #ffffff;
  border-radius: 4px 4px 0 0;
}

.change-status-box > div {
  margin-bottom: 5px;

  button {
    font-size: 13px;
    height: 26px;
    padding: 0 11px;
  }
}

.ant-popover-content {
  box-shadow: 0.1em 0.1em 0.5em 0.5em #d2d2d2;
  border-radius: 4px;
}

.ant-select-selection--single {
  height: 26px;
  font-size: 13px;
}

.ant-select-selection__rendered {
  line-height: 26px;
}

.ant-select-dropdown li {
  font-size: 13px;
}
